<div class="chatBot">
    <div class="headerBar">
            <div class="user-photo"><img src="/img/ana.JPG"></div>
            <p class="title">covid faq</p>
    </div>
    
    <div class="chatbox" >
        <div class="chatlogs">
        
            <div class="chat friend">
                <div class="user-photo"><img src="/img/ana.JPG"></div>
                <p class="chat-message">Hello!</p>
            </div>

            <div class="chat friend" id="loadingGif" style="display: none;">
                <div class="user-photo"><img src="/img/ana.JPG"></div>
                <div class="gif"><img src="/img/loading.gif"></div>
            </div>

        </div>
    </div>
    <div class="chat-form">
        <div id="inputDiv">
            <div id="buttonDiv"></div>
            <textarea id="message" placeholder="Message" rows="1" data-min-rows='1'></textarea>
        </div>
        <div id="chat-form-buttons">
            <input type="image" id="send" src="/img/send.png">
        </div>
    </div>
    </div>
    <div id="roboButton">
       <img src="/img/robot.png" style="width: 50px" alt="">
    </div>